* {
    margin: 0;
    padding: 0;
}

.about-wrapper,
.skill-wrapper {
    font-family: 'Montserrat';
}


/* Navigation Bar */

.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand,
.nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.navbar-brand {
    font-family: Viga;
    font-size: 32px;
}

.navbar-toggler {
    background-color: white;
}

.font-mont {
    font-family: 'Montserrat';
    font-size: 15px;
}

.tombol {
    border-radius: 40px;
    font-size: 15px;
}


/* Jumbotron */

.jumbotron {
    background-image: url(jumbotron.png);
    background-size: cover;
    height: 570px;
    text-align: center;
    position: relative;
    margin-top: -80px;
    margin-left: -5px;
}

.jumbotron .display-4 {
    color: white;
    margin-top: 150px;
    font-weight: 200;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
    font-size: 40px;
    margin-bottom: 30px;
}

.jumbotron .display-4 span {
    font-weight: 500;
}

.button {
    color: white;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
}

.button:hover {
    text-decoration: none;
    color: white;
}

.message {
    padding: 15px 40px;
    background-color: #0275d8;
    cursor: pointer;
    box-shadow: 0 7px #024a8a;
}

.message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}


/* Skills */

.skill-wrapper {
    text-align: center;
    margin: 0 90px;
}

.skill-wrapper h1 {
    margin-bottom: 10px;
}

.skills {
    display: flex;
    margin-bottom: 50px;
}

.skill {
    flex: auto;
    margin: 0 15px;
}

.skill h4 {
    margin: 20px 0;
}

.skill p {
    padding: 0 20px;
    margin-bottom: 20px;
}

.card-fitur {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    /* border-radius: 12px; */
    background-color: white;
    padding-top: 30px;
    text-align: center;
    margin-top: 30px;
}


/* About */

.about-wrapper {
    display: flex;
    width: 100%;
    height: 420px;
    background-color: black;
    margin-bottom: 50px;
}

.about-left {
    width: 60%;
    background-color: rgb(238, 238, 238);
}

.about-right {
    width: 40%;
    background-image: url(tentang-kami.png);
    background-position: left;
    background-size: cover;
}

.about-main {
    margin: 50px 50px 50px 90px;
    color: black;
}

.about-main h3 {
    margin-bottom: 25px;
}


/* Tablet */

@media (max-width: 1000px) {
    .skill p {
        /* background-color: black; */
        font-size: 15px;
    }
    .img-fitur {
        height: 150px;
    }
    .skill-wrapper {
        margin: 0 40px;
    }
}


/* Mobile */

@media (max-width: 670px) {
    .jumbotron {
        margin-top: -10px;
    }
    .navbar-toggler {
        background-color: none;
    }
    .navbar-brand {
        color: rgb(66, 66, 66) !important;
    }
    .skills {
        flex-wrap: wrap;
    }
    .skill {
        width: 100%;
        background-color: white;
    }
    .about-left {
        width: 100%;
    }
    .about-right {
        width: 0;
    }
    .about-wrapper {
        text-align: center;
    }
}
